@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Lora&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;

}


.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgb(214, 55, 82);
    color: #e3f0ee;
}

.container .header {
    padding: 30px;
    background: rgba(225, 255, 255, 0.2);
    width: 100%;

}

.container .header label {
    font-size: 18px;
    margin: 10px;
}

.container .header input {
    background: rgb(230, 151, 127);
    height: 35px;
    font-size: 18px;
    color:rgb(167, 32, 83);
}

.container .header button {
    height: 40px;
    width: 100px;
    font-size: 10px;
    margin: 10px
    
    
    
}



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
