.container {
    background: linear-gradient(rgb(56, 196, 189), #f3a, rgb(241, 233, 238));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.img {
    width: 700px;
    height: 700px;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc input{
    width: 35px;
    min-height: 35px;
    margin: 8px;
    outline: none;
    background: #453c79;
    font-size: 18px  ;

}

