<div class="container">
    <div class="task">
        <h2>Forms</h2>
   <form action="*">
      
    <div class="form-group">
        <label for="txtNome">Task</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite o nome da tarefa">
        
        <label for="txtNome">Task</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite o nome da Descrição da tarefa">
        
        <label for="txtNome">Task</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite o nome do responsável da tarefa ">
        
        <input type="text" name="txtNome"  id="txtNome">
        <label for="txtNome">Task</label>
        
        <input type="text" name="txtNome"  id="txtNome">
        <label for="txtNome">Task</label>
        
        <input type="text" name="txtNome"  id="txtNome">
        <label for="txtNome">Task</label>
        
    <div></div>
    <div class="Button"></div>
    <button>Cancelar</button>
    <button>Cadastrar</button>
    </div>

