<div class="container">
    <div class="task">
        <h2>Formulário</h2>
   <form action="*">
      
    <div class="form-group">
        <label for="txtNome">Task</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite o nome da tarefa"
        [formControl]="task"/>
        
        <label for="txtNome">Descrição</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite a Descrição da tarefa"
        [formControl]="descricao"/>
        
        <label for="txtNome">Responsável</label>
        <input type="text" name="txtNome"  id="txtNome" placeholder="Digite o responsável da tarefa "
        [formControl]="responsavel"/>
        
        <label for="txtNome">Data Inicio</label>
        <input type="date" name="txtNome"  id="txtNome" [formControl]="dt_inicio"/>
        
        <label for="txtNome">Data Termino</label>
        <input type="date" name="txtNome"  id="txtNome"  [formControl]="dt_fim"/>
        
    </div>    
    
    <div class="Button">
    <button>Cancelar</button>
    <button (clik)="addTask()">Cadastrar</button>
    </div>

</form>
</div>

