<div class="container">
   <form action="">
       Nome da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
       Descrição da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
       Responsavel da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
       data da criacao: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
       Data de termino: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
   </form>
   </div>
    